pom.xml-e
pom.xml.versionsBackup
*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
modules-dev/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
*.tfstate
.terraform/
*.log
*.bak
.*.swp
.idea
*.test
*.iml
*.zip
**/.vscode/
**/.terraform/
.metadata/
report.xml
jmeter.log
output/


target/
!.mvn/wrapper/maven-wrapper.jar
RemoteSystemsTempFiles/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
